REACT_APP_GITHUB_OWNER=깃헙아이디
REACT_APP_GITHUB_REPO=cartax-agents
REACT_APP_GITHUB_TOKEN=깃헙토큰
REACT_APP_FIREBASE_API_KEY=파이어베이스키
REACT_APP_FIREBASE_AUTH_DOMAIN=프로젝트id.firebaseapp.com
REACT_APP_FIREBASE_PROJECT_ID=프로젝트id
REACT_APP_FIREBASE_STORAGE_BUCKET=프로젝트id.firebasestorage.app
REACT_APP_FIREBASE_MESSAGING_SENDER_ID=숫자
REACT_APP_FIREBASE_APP_ID=앱id
